DATABASE_URL="postgresql://postgres:postgres@localhost:5432/terumbu"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_MAPBOX_TOKEN=""
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
XENDIT_SECRET_KEY=""
RESEND_API_KEY=""
POSTHOG_KEY=""
POSTHOG_HOST="https://app.posthog.com"

